.advantages-list {
  border-radius: 24px;
  background: #1b414b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;
}

.advantages-list-item {
  width: calc((100% - 40px) / 2);
}

.advantages-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  padding-bottom: 18px;
}

.advantages-list-text {
  padding-top: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
  border-top: 2px solid rgba(251, 251, 251, 0.1);
}

.advantages-img {
  padding-top: 20px;
  border-radius: 24px;
  width: 100%;
  
}

@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    align-items: baseline;
    row-gap: 44px;
    column-gap: 32px;
    padding: 90px 32px;
    max-width: 768px;
  }

  .advantages-title {
    font-size: 32px;
  }

  .advantages-list-text {
    font-size: 13px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .advantage-wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  .advantages-list {
    gap: 44px;
  }

  .advantages-list-item {
    width: calc((100% - 44px) / 2);
  }

  .advantages-img {
    padding: 0;
    width: 432px;
  }
}
