.benefits-container {
  background: #fbfbfb;
  border-radius: 24px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.benefits-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  max-width: 295px;
  padding: 0 20px;
}

.benefits-container-description {
  font-weight: 400;
  letter-spacing: -0.02em;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.description-first {
  font-size: 18px;
  line-height: 1;
  color: #1b414b;
  max-width: 295px;
}

.description-second {
  font-size: 12px;
  line-height: 1.17;
  color: #040306;
  opacity: 0.4;
}

.benefits-img {
  border-radius: 24px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits .container {
    padding: 0 32px;
  }

  .benefits-container {
    align-items: flex-start;
    gap: 50px;
  }

  .benefits-title {
    font-size: 48px;
    max-width: 536px;
  }

  .description-first {
    font-size: 23px;
    max-width: 389px;
  }

  .description-second {
    font-size: 13px;
    line-height: 1.15;
    max-width: 389px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits .container {
    padding: 0 50px;
  }

  .benefits-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .benefits-title {
    font-size: 48px;
    max-width: 537px;
  }
}
