.section-choose {
  padding: 80px 0;
}

.choose-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choose-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: center;
  max-width: 319px;
  padding-bottom: 40px;
}

.container-choose-table {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  margin: 0 16px;
  border-top: 1px solid rgb(4 3 6 / 0.1);
}

.choose-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 40px;
}

.choose-list-item {
  max-width: 335px;
  border-radius: 24px;
  background: #fbfbfb;
  padding: 16px;
}

.choose-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 16px;
}

.short-title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.choose-list-title-span {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.choose-list-paragraph {
  display: flex;
  justify-content: space-between;
}

.choose-list-left-part {
  opacity: 0.4;
}

.yacht-rental-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  height: 46px;
  width: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .choose-title {
    font-size: 48px;
    padding-bottom: 75px;
    max-width: 645px;
  }

  .choose-list {
    flex-direction: row;
    gap: 25px;
    padding-bottom: 50px;
  }

  .container-choose-table {
    padding-top: 16px;
  }

  .yacht-rental-link {
    max-width: 179px;
    transition:
      color 300ms ease-in-out,
      background-color 300ms ease-in-out;
  }

  .yacht-rental-link:hover,
  .yacht-rental-link:focus {
    color: #1b414b;
    background-color: #fbfbfb;
  }
}
